body{
margin-left: 2em;
margin-right: 2em; 
font-family: Georgia;
}
.container{
	height: 80px;
	width: 100%;
	background-color: black;
	border-bottom-color:#FF55C2;
	border-style: solid; 
	
}
#container{
	color: #FF55C2;
	position: relative;
	top: 13px;
	left: 20px;
}
#container:hover{
	text-decoration: none;
}
#lai{
position: relative;
left:800px;
top: -20px;
color: white;
}
#lai:hover{
	text-decoration:none;
	color: #FF55C2;
}
#le{
position: relative;
left:690px;
top: -20px;
color: white;
}
#le:hover{
	text-decoration:none;
	color: #FF55C2;
}
#li{
position: relative;
left:600px;
top: -20px;
color: white;
}
#li:hover{
	text-decoration:none;
	color: #FF55C2;
}
#la{
position: relative;
left:500px;
top: -20px;
color: white;
}
#la:hover{
text-decoration:none;
	color: #FF55C2;
}
#lo{
position: relative;
left:450px;
top: -20px;
color: white;
}
#lo:hover{
text-decoration:none;
	color: #FF55C2;
}
.wrapper{
	background-image: url("../images/coworking.jpg");
	margin-top: 50px;
	width: 100%;
	height: 600px;
	position: relative;
	top: -58px;
	left: 0px;


}
.ow{
   width: 350px;
   height: 360px;
   
   position: relative;
   left: 870px;
   top: 110px;
   background-color: grey;
}
.wrapper-grey{
	background-color:#eee;
	height: 60px; 
	position: relative;
	top: -9px;
}
#grey{
	position: relative;
	top: 15px;
	font-family: Georgia;
	font-weight: bold;
}
#mo{
	color: grey;
}
#ji{
	position: relative;
	left: 50px;
	font-weight: bold;
}
#jo{
	position: relative;
	left: 50px;
	line-height: 25px;
	
}
.wrapper-pink{
	width: 250px;
	height: 50px;
	background-color: #FF55C2;
	position: relative;
	left: 51px;
	border-radius: 5px;
	border-style: none;
	font-weight: bold;

}

.row{
	position: relative;
	left: 50px;
}
#low{
	font-weight: bold;
}
#low1{
	line-height: 25px;
}
.wrap{
	width: 250px;
	height: 40px;
	border-radius: 3px;
	background-color: #C6C6C6;
}
.mol{
	background-color: black;
	height: 60px;
	width: 100%;
	color: white;
	margin-top:50px; 
}
#mol1{
	position: relative;
	top: 20px;
	left: 40px;
}